In [1]:
import pandas as pd
import json

def json_to_dataframe(json_file_path):
    try:
        # Read JSON file
        with open(json_file_path, 'r') as file:
            data = json.load(file)
        
        # Convert to pandas DataFrame
        df = pd.DataFrame(data)
        
        return df
    
    except FileNotFoundError:
        print(f"Error: File '{json_file_path}' not found")
        return None
    except json.JSONDecodeError:
        print("Error: Invalid JSON format")
        return None
    except Exception as e:
        print(f"Error: {str(e)}")
        return None

In [23]:
# Example usage
file_path = 'weather_data.json'
df = json_to_dataframe(file_path)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177 entries, 0 to 2176
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lat            2177 non-null   float64
 1   lon            2177 non-null   float64
 2   tz             2177 non-null   object
 3   date           2177 non-null   object
 4   units          2177 non-null   object
 5   cloud_cover    2177 non-null   object
 6   humidity       2177 non-null   object
 7   precipitation  2177 non-null   object
 8   temperature    2177 non-null   object
 9   pressure       2177 non-null   object
 10  wind           2177 non-null   object
dtypes: float64(2), object(9)
memory usage: 187.2+ KB

In [26]:
df_start=json_to_dataframe('weather_data_test.json')

In [28]:
final_df = pd.concat([df_start, df], axis=0, ignore_index=True)

In [32]:
final_df.head()

,lat,lon,tz,date,units,cloud_cover,humidity,precipitation,temperature,pressure,wind
0,29.18483,71.49811,+05:00,2019-01-01,standard,{'afternoon': 4.0},{'afternoon': 57.0},{'total': 0.0},"{'min': 280.29, 'max': 295.09, 'afternoon': 29...",{'afternoon': 1020.0},"{'max': {'speed': 3.15, 'direction': 198.0}}"
1,29.18483,71.49811,+05:00,2019-01-02,standard,{'afternoon': 0.0},{'afternoon': 60.0},{'total': 0.0},"{'min': 281.4, 'max': 294.65, 'afternoon': 290...",{'afternoon': 1022.0},"{'max': {'speed': 3.02, 'direction': 6.0}}"
2,29.18483,71.49811,+05:00,2019-01-03,standard,{'afternoon': 88.0},{'afternoon': 69.0},{'total': 0.0},"{'min': 281.24, 'max': 292.79, 'afternoon': 28...",{'afternoon': 1025.0},"{'max': {'speed': 2.65, 'direction': 14.0}}"
3,29.18483,71.49811,+05:00,2019-01-04,standard,{'afternoon': 94.0},{'afternoon': 67.0},{'total': 0.0},"{'min': 282.02, 'max': 291.93, 'afternoon': 28...",{'afternoon': 1020.0},"{'max': {'speed': 2.23, 'direction': 107.0}}"
4,29.18483,71.49811,+05:00,2019-01-05,standard,{'afternoon': 5.0},{'afternoon': 65.0},{'total': 0.0},"{'min': 281.86, 'max': 292.92, 'afternoon': 29...",{'afternoon': 1019.0},"{'max': {'speed': 5.07, 'direction': 8.0}}"

In [35]:
final_df.units.value_counts()

units
standard    2179
Name: count, dtype: int64

In [33]:
final_df.to_csv('openweathermap_data.csv', index=False)

In [36]:
final_df.temperature[0]

{'min': 280.29,
 'max': 295.09,
 'afternoon': 291.55,
 'night': 283.42,
 'evening': 293.04,
 'morning': 280.29}